<body>

  <header>
    <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    <a href="#"><h1 class="site-title"><i class="fa fa-hand-lizard-o"></i> cody schlabach</h1></a>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem navlink active"><a href="#">Home</a></li>
        <li class="navitem navlink"><a href="#">Projects</a></li>
        <li class="navitem navlink"><a href="#">Resume</a></li>
        <!-- <li class="navitem navbar-search">
          <input type="text" id="navbar-search-input" placeholder="Search...">
          <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
        </li> -->
      </ul>
    </nav>
  </header>

  <main class="content-container">

    <article id="about_me">
      <div class="box-content">
        <p class="box-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
          Duis elementum lacus vitae ante accumsan, ac fermentum sapien placerat. Maecenas varius, odio quis ornare eleifend,
          felis velit ultrices ipsum, in mollis quam mi at magna. Sed pellentesque orci at fringilla dignissim.
          Sed rhoncus neque eget rutrum suscipit. Ut rhoncus placerat nunc, non dapibus urna faucibus in.
          Nulla ornare condimentum hendrerit. Mauris quis ipsum nulla. Duis gravida rhoncus nunc ut vehicula.
          Duis sit amet convallis risus. Pellentesque sagittis erat suscipit ipsum porttitor, et tristique justo facilisis.


          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi non imperdiet tellus.
          Donec maximus diam condimentum tortor tempor hendrerit. Vestibulum in eros augue. Pellentesque eget mi id diam dapibus iaculis.
          Sed viverra orci nisi, non efficitur leo porttitor sed. Sed mattis at orci et pretium. Curabitur justo nulla,
          pretium vel vestibulum id, lobortis a diam. Quisque ipsum enim, ultrices quis volutpat ut, tincidunt a tortor.

          Ut euismod ipsum et arcu dignissim, venenatis hendrerit ante malesuada. Quisque congue, lorem et vestibulum faucibus,
          diam nisi facilisis erat, ut consequat ligula metus a lorem. Phasellus at justo purus. Cras fringilla semper elit,
          a bibendum elit volutpat at. Integer convallis orci tortor, vitae pretium dolor aliquet non. Nulla id arcu quis
          neque fringilla ornare quis at neque. Suspendisse iaculis euismod dui sed imperdiet.
        </p>
      </div>
    </article>

    <article id="quote">
      <div class="quote-content">
        <p class="quote-text">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt convallis congue.
          Duis elementum lacus vitae ante accumsan, ac fermentum sapien placerat. Maecenas varius, odio quis ornare eleifend,
          felis velit ultrices ipsum, in mollis quam mi at magna. Sed pellentesque orci at fringilla dignissim."
        </p>
        <p class="quote-attribution">
          <a href="#">Author</a>
        </p>
      </div>
    </article>

  </main>

  <button type="button" id="create-box-button"><i class="fa fa-bullhorn"></i></button>

  <div id="modal-backdrop" class="hidden"></div>
  <div id="create-box-modal" class="hidden">
    <div class="modal-dialog">

      <div class="modal-header">
        <h3>Create a box</h3>
        <button type="button" class="modal-close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div class="box-input-element">
          <label for="box-text-input">Text</label>
          <textarea id="box-text-input"></textarea>
        </div>
        <div class="box-input-element">
          <label for="box-attribution-input">Author</label>
          <input type="text" id="box-attribution-input">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="modal-cancel-button">Cancel</button>
        <button type="button" class="modal-accept-button">Create box</button>
      </div>

    </div>
  </div>

</body>
